
ul {
  
}

li {
  display: inline;

  a {
    text-decoration: none;

    
  }
}

.items{
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  border: 20px solid;
  border-radius: 100%;
  margin-top: 150px;
  display: inline-block;

  &.item-math-1 {
    background: asset-url("Math-1.png");
    margin-right: 100px;
    margin-left: 100px;
  }

  &.item-math-2 {
    background: asset-url("Math-2.png");
     margin-right: 100px;
  }

  &.item-math-3{
    background: asset-url("Math-3.png");
    margin-right: 20px;
  }

  &.item-read-1 {
    background: asset-url("Read-1.png");
    margin-right: 50px;
    margin-left: 0px;
  }

  &.item-read-2 {
    background: asset-url("Read-2.png");
     margin-right: 50px;
  }

  &.item-read-3 {
    background: asset-url("Read-3.png");
    margin-right: 50px;
  }

   &.item-read-4 {
    background: asset-url("Read-4.png");
    margin-right: 0px;
  }

  &.item-write-1 {
    background: asset-url("Write-1.png");
    margin-right: 50px;
    margin-left: 0px;
  }

  &.item-write-2 {
    background: asset-url("Write-2.png");
     margin-right: 50px;
  }

  &.item-write-3 {
    background: asset-url("Write-3.png");
    margin-right: 50px;
  }

   &.item-write-4 {
    background: asset-url("Write-4.png");
    margin-right: 0px;
  }
}
