
ul {
  
}

li {
  display: inline;

  a {
    text-decoration: none;

    
  }
}

.items{
  background-repeat: no-repeat;
  width: 250px;
  height: 250px;
  border: 20px solid;
  border-radius: 100%;
  margin-top: 150px;
  display: inline-block;

  &.item-1 {
    background: asset-url("MainPage-1.png");
    margin-right: 100px;
    margin-left: 100px;
  }

  &.item-2 {
    background: asset-url("MainPage-2.png");
     margin-right: 100px;
  }

  &.item-3 {
    background: asset-url("MainPage-3.png");
    margin-right: 20px;
  }
}
