.content-wrapper-lvl {
  height: 800px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline ;

  a {
    text-decoration: none;
  }
}

.content-wrapper-math-numbers,
.content-wrapper-math-exercises
{
  background: asset-url("Backgound_Math.png");
  width: 1600px;
  height: 673px;
  background-repeat: no-repeat;
}

.items-lvl{
  background-repeat: no-repeat;
  width: 101px;
  height: 101px;  
  display: block;
  position: absolute;

  &.item-numbers-1 {
    background: asset-url("Button-for-Levels.png");
    top: 0;
    left: 2%;
  }

  &.item-numbers-2 {
    background: asset-url("Button-for-Levels.png");
    top: 121px;
    left: 3%;
  }

  &.item-numbers-3 {
    background: asset-url("Button-for-Levels.png");
    top: 242px;
    left: 2%;
  }

  &.item-numbers-4 {
    background: asset-url("Button-for-Levels.png");
    top: 363px;
    left: 2%;
  }

  &.item-numbers-5 {
    background: asset-url("Button-for-Levels.png");
    top: 464px;
    left: 6%;
  }

  &.item-exercises-1 {
    background: asset-url("Button-for-Levels.png");
    top: 0;
    left: 2%;
  }

  &.item-exercises-2 {
    background: asset-url("Button-for-Levels.png");
    top: 121px;
    left: 3%;
  }

  &.item-exercises-3 {
    background: asset-url("Button-for-Levels.png");
    top: 242px;
    left: 2%;
  }

  &.item-exercises-4 {
    background: asset-url("Button-for-Levels.png");
    top: 363px;
    left: 2%;
  }

  &.item-exercises-5 {
    background: asset-url("Button-for-Levels.png");
    top: 464px;
    left: 6%;
  }

  &.item-letters-1 {
    background: asset-url("Button-for-Levels.png");
    top: 0;
    left: 2%;
  }

  &.item-letters-2 {
    background: asset-url("Button-for-Levels.png");
    top: 121px;
    left: 3%;
  }

  &.item-letters-3 {
    background: asset-url("Button-for-Levels.png");
    top: 242px;
    left: 2%;
  }

  &.item-letters-4 {
    background: asset-url("Button-for-Levels.png");
    top: 363px;
    left: 2%;
  }

  &.item-letters-5 {
    background: asset-url("Button-for-Levels.png");
    top: 464px;
    left: 6%;
  }

  &.item-words-1 {
    background: asset-url("Button-for-Levels.png");
    top: 0;
    left: 2%;
  }

  &.item-words-2 {
    background: asset-url("Button-for-Levels.png");
    top: 121px;
    left: 3%;
  }

  &.item-words-3 {
    background: asset-url("Button-for-Levels.png");
    top: 242px;
    left: 2%;
  }

  &.item-words-4 {
    background: asset-url("Button-for-Levels.png");
    top: 363px;
    left: 2%;
  }

  &.item-words-5 {
    background: asset-url("Button-for-Levels.png");
    top: 464px;
    left: 6%;
  }

  &.item-sentences-1 {
    background: asset-url("Button-for-Levels.png");
    top: 0;
    left: 2%;
  }

  &.item-sentences-2 {
    background: asset-url("Button-for-Levels.png");
    top: 121px;
    left: 3%;
  }

  &.item-sentences-3 {
    background: asset-url("Button-for-Levels.png");
    top: 242px;
    left: 2%;
  }

  &.item-sentences-4 {
    background: asset-url("Button-for-Levels.png");
    top: 363px;
    left: 2%;
  }

  &.item-sentences-5 {
    background: asset-url("Button-for-Levels.png");
    top: 464px;
    left: 6%;
  }
}


.flipbook-viewport{
  overflow:hidden;
  width:100%;
  height:100%;
}

.flipbook-viewport .container{
  position:absolute;
  top:50%;
  left:50%;
  margin:auto;
}

.flipbook-viewport .flipbook{
  width:922px;
  height:600px;
  left:-461px;
  top:-300px;
}

.flipbook-viewport .page{
  width:461px;
  height:600px;
  background-color:white;
  background-repeat:no-repeat;
  background-size:100% 100%;
}

.flipbook .page{
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
  -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
  box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin:0;
}

.flipbook-viewport .shadow{
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;

  -webkit-box-shadow:0 0 20px #ccc;
  -moz-box-shadow:0 0 20px #ccc;
  -o-box-shadow:0 0 20px #ccc;
  -ms-box-shadow:0 0 20px #ccc;
  box-shadow:0 0 20px #ccc;
}