 .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:absolute;
    transition: .5s ease;
    top: 80%;
    left: 90%;
}
 .button2 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:absolute;
    transition: .5s ease;
    top: 3%;
    left: 3%;
}

.button3{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    position:absolute;
    transition: .5s ease;
    top: 3%;
    left: 30%;
}

.button4{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:absolute;
    transition: .5s ease;
    top: 3%;
    left: 3%;
}

.button5{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:absolute;
    transition: .5s ease;
    top: 3%;
    left: 9%;
}


.button7{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:absolute;
    transition: .5s ease;
    top: 20%;
    left: 20%;
}


.button8{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position:absolute;
    transition: .5s ease;
    top: 40%;
    left: 20%;
}

.correctansw{
   position:absolute;
   top: 25%;
   left: 40%;
   display :none;
   img{
     width: 100px;
     height: auto;
  }
   
}
.incorrectansw{
   position:absolute;
   top: 25%;
   left: 40%;
   display :none;
  img{
     width: 100px;
     height: auto;
  }

}


