%h2 Edit a compart!
= form_for [:admin, @compartment] do |field|
  = field.label "Compart's name:"
  = field.text_field :compartment_name
  %br/
  = field.submit
= link_to 'Back', admin_course_compartment_path
