#content-wrapper
  .items-wrapper
    %ul
      - @compartments.each_with_index do |l, index|
        %li
          = link_to "",                                    
            { :controller => :compartments, :action => :show, :id => l.id}, :class => "items-lvl item-#{index}"
