/ %h3= @course.course_name
/ = form_tag '/stats' do
/   - @compartment.levels.each do |q|
/     %p
/       = link_to q.level_name,                                                                        |
/         { :controller => :levels, :action => :show, :id => q.id, :compartment_id => @compartment.id} |
/     %br/
/ = link_to :Back, course_path(@course)
#content-wrapper{:class => "content-wrapper-#{@course.course_name.downcase}-#{@compartment.compartment_name.downcase}"}
  .items-wrapper
    %ul
      - @compartment.levels.each_with_index do |l, index|
        %li
          = link_to l.level_name, { :controller => :levels, :action => :show, :id => l.id, :compartment_id => @compartment.id}, :class => "items-lvl item-#{@compartment.compartment_name.downcase}-#{index+1}"