%h3= @level.level_name

= link_to "Back", :back, class: :button

/ drawing
- if @level.id == 1 or @level.id == 2 or @level.id == 3 or @level.id == 4 or @level.id == 5 or @level.id == 51 or @level.id == 52 or @level.id == 53 or @level.id == 54 or @level.id == 55 or @level.id == 126 or @level.id == 127 or @level.id == 128 or @level.id == 129 or @level.id == 130
  #canvasDiv
  :javascript
    var $image_id = "/assets/image-#{@level.id}.png"
    $(document).ready(function() {  
      prepareCanvas();
    });

-if @level.id == 26
  =image_tag "math_ex1.png"

-if @level.id == 28
  =image_tag "math_ex2.png"

-if @level.id == 76 
  =image_tag "read-wr-1.png"

-if @level.id == 78 
  =image_tag "read-wr-2.png"

-if @level.id == 80 
  =image_tag "read-wr-3.png"

-if @level.id == 151
  =image_tag "read-wr-1.png"

-if @level.id == 153
  =image_tag "read-wr-2.png"

-if @level.id == 155
  =image_tag "read-wr-3.png"


- if @level.id == 101
  .flipbook-viewport
    .container
      .flipbook
        %div{:style => "background-image:url(#{asset_path('cover_book.jpg')})"}
        %div{:style => "background-image:url(#{asset_path('1_book.jpg')})"}
        %div{:style => "background-image:url(#{asset_path('2_book.jpg')})"}
        %div{:style => "background-image:url(#{asset_path('3_book.jpg')})"}
        %div{:style => "background-image:url(#{asset_path('4_book.jpg')})"}
        %div{:style => "background-image:url(#{asset_path('5_book.jpg')})"}
        %div{:style => "background-image:url(#{asset_path('6_book.jpg')})"}
  :javascript
    $('.flipbook').turn({
      width:922,
      height:600,
      elevation: 50,
      gradients: true,
      autoCenter: true

    });



- if @level.id == 27 or @level.id == 29 or @level.id == 152 or @level.id == 154 
  - @level.questions.each_with_index do |q,i|
    - if q.body_question.include? 'http'
      = image_tag  q.body_question
    - else
      = q.body_question
    = text_field_tag "answer_#{i}" 
    %br
  = submit_tag :Submit


- if @level.id == 177 
  = image_tag "ant.png"
  - @level.questions.each_with_index do |q,i|
    - if q.body_question.include? 'http'
      = image_tag  q.body_question
    - else
      = q.body_question
    = text_field_tag "answer_#{i}" 
    %br
  = submit_tag :Submit

- if @level.id == 179
  = image_tag "bread.png"
  = image_tag "ant.png"
    - @level.questions.each_with_index do |q,i|
    - if q.body_question.include? 'http'
      = image_tag  q.body_question
    - else
      %br
      = q.body_question
    = text_field_tag "answer_#{i}" 
    %br
  = submit_tag :Submit



- if @level.id == 77 
  .antimage
    = image_tag "ant.png"
  .buttonsection
    = link_to "ant", "#" , class: :button7
    = link_to "atn", "#" , class: :button8
  .correctansw
    = image_tag "correct.png"
  .incorrectansw
    = image_tag "incorrect.png"

- if @level.id == 79
  .antimage
    = image_tag "bread.png"
  .buttonsection
    = link_to "bread", "#" , class: :button7
    = link_to "dreab", "#" , class: :button8
  .correctansw
    = image_tag "correct.png"
  .incorrectansw
    = image_tag "incorrect.png"

