.content-wrapper
  .items-wrapper
    %ul
      - @courses.each_with_index do |l, index|
        %li
          = link_to "", { :controller => :courses, :action => :show, :id => l.id}, :class => "items item-#{index+1}"
