.content-wrapper
  .items-wrapper
    %ul
      - @course.compartments.each_with_index do |l, index|
        %li
          = link_to "", { :controller => :compartments, :action => :show, :id => l.id, :course_id => @course.id}, :class => "items item-#{@course.course_name.downcase}-#{index+1}"

