!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Radish
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - unless request.env['PATH_INFO'] == '/'
      = render partial: 'layouts/header'
      = render partial: 'layouts/navbar'
    = yield
